@import url('https://fonts.googleapis.com/css2?family=Anton+SC&family=Kalnia+Glaze:wght@100..700&family=Maname&display=swap');
p {
    font-family: "Kalnia Glaze", serif;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 20px;
    word-spacing: 1.2px;
    letter-spacing: 1px;
    border-left: 10px solid blue;
    margin: 0;

}

.one { 
    font-family: "Kalnia Glaze", serif;
    margin-bottom: 20px;
}

.two {
    font-family: "Maname", serif;
    border-left: 10px solid indianred;
    background-color: aquamarine;
    color: black;
    margin-top: 50px;

}
#yellow{ color: yellow;}
#orange{ color: rgb(222, 16, 119);}

.yellow{color: antiquewhite;}
.orange{ color: orangered;}